<div ng-controller="VideoChatController" class="outside-container">
  <div class="col-md-12 controls">
    <div class="col-md-6">
      <!-- EDITOR CONTROLS -->
      <label>Select Language: </label>
      <select ng-model="languageSelector" ng-change="setEditorLanguage(this)">
        <option selected value="javascript">JavaScript</option>
        <option value="csharp">C#</option>
        <option value="c_cpp">C and C++</option>
        <option value="css">CSS</option>
        <option value="html">HTML</option>
        <option value="haskell">Haskell</option>
        <option value="java">Java</option>
        <option value="objectivec">Objective-C</option>
        <option value="python">Python</option>
        <option value="php">PHP</option>
        <option value="ruby">Ruby</option>
        <option value="r">R</option>
        <option value="swift">Swift</option>
        <option value="elixir">Elixir</option>
      </select>
      <button type="submit" class="btn btn-primary btn-sm" ng-click="saveFileLocally()">Download this File</button>
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <div class="col-md-8 editor-container">
    <!-- EDITOR -->
    <div id="editor">// your code here!</div>
  </div>

  <div class="col-md-4 video-container">
    <div class="video">
      <div id="publisher"></div>
      <div id="subscribers"></div>
      <h4 class="video-header">Live Coding Session</h4>
      <button class="btn btn-primary btn-sm endVideoButton" ng-click="endVideoSession()">End Video Chat</button>
    </div>
  </div>
</div>
