.messages-container {
  height: 600px;
  margin: 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 33px 3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 33px 3px rgba(0,0,0,1);
  box-shadow: 0px 0px 33px 3px rgba(0,0,0,1);
}

.messages-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #29333B;
  height: 100%;
  overflow: scroll;
}

.messages-left > h3 {
  color: white;
  margin-bottom: 18px;
  padding: 0px;
}

.messages-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  background-color: #E4F1FE;
  height: 100%;
  overflow: scroll;
}

.convo {
  border: 1px silver solid;
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 100%;
  padding: 20px;
  position: relative;
}

.convo:hover {
  border-radius: 15px;
  border-color: black;
  background-color: #F89406;
  -webkit-box-shadow: 0px 0px 33px 3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 33px 3px rgba(0,0,0,1);
  box-shadow: 0px 0px 33px 3px rgba(0,0,0,1);
}

.new-message {
  /*background-color: black;*/
}

.chat-message-send {
  color: black;
  text-align: left;
  background-color: #81CFE0;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 180px;
  padding: 15px 25px;
}

.chat-message-recieve {
  text-align: left;
  background-color: white;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 180px;
  margin-left: 5px;
  padding: 15px 25px;
}

.chat-name {
  font-weight: bold;
  border-bottom: 1px black solid;
}

.chat-name + p {
  padding: 10px;
  text-align: center;
}

.convo > h4 {
  text-align: left;
  margin: 0px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
