
.outside-container {
  padding-right: 10px;
}

.editor-container {
  height: 400px;
  text-align: left;
  margin-top: 10px;
}

.controls > div{
  /*background-color: #F89406;*/
  /*border: 1px black solid;*/
  text-align: left;
}

select {
  margin: 10px;
}

#editor {
  position: relative;
  height: 85%;
  border: 5px #E4F1FE solid;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
}

.video-container {
  height: 400px;
  margin-top: 10px;
}

.video-header {
  color: white;
}

.video {
  height: 85%;
  background-color: #272822;
  border: 5px #E4F1FE solid;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
}

.video > div {
  margin: 30px auto 30px auto;
}
